<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Enregistrer un nouveau post</h2>
    <form (ngSubmit)="onSavePost()" [formGroup]="postForm">
      <div class="form-group">
        <label for="title">Titre</label>
        <input class="form-control" formControlName="header"
               id="title" type="text">
      </div>
      <div class="form-group">
        <label for="content">Auteur</label>
        <textarea class="form-control" formControlName="content" id="content" name="content" rows="10"></textarea>
      </div>
      <button [disabled]="postForm.invalid" class="btn btn-success"
              type="submit">Enregistrer
      </button>
    </form>
  </div>
</div>
